<mat-toolbar class="navbar">
 <div>
  <span>PRODUCTS</span>
  <span>SERVICES</span>
  <span>CATALOGUE</span>
 </div>
</mat-toolbar>

<div class="grid-container">
 <mat-grid-list cols="2" rowHeight="350px">
     <mat-grid-tile [colspan]="1" [rowspan]="1">
         <mat-card class="mat-elevation-z8 card-prop"> 
         <mat-card-content>    

           <button mat-button color="green">Add Item</button>

           <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
             
             <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
         
         
         
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> ITEM </th>
              <mat-icon matSuffix>arrow_upward</mat-icon>

              <td mat-cell *matCellDef="let element"> {{element.item}} </td>
            </ng-container>
         
            <ng-container matColumnDef="amount">
             <th mat-header-cell *matHeaderCellDef> AMOUNT </th>
             <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
         
         <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         </div>
         
       </mat-card-content>    

         </mat-card>  
     </mat-grid-tile>
    
     <mat-grid-tile [colspan]="1" [rowspan]="2">
         <mat-card class="mat-elevation-z8 card-prop"> 
             <mat-card-content>    
              <mat-label> LED LAMP</mat-label>
              <mat-icon matSuffix>share</mat-icon> 

              <button mat-icon-button> Adjust Item
               <mat-icon (click)="window.scrollTo(0, 0);">keyboard_arrow_up</mat-icon>
               </button>
                  

           <p>
             <mat-form-field appearance="legacy">
               <mat-label> SALE PRICE</mat-label>
               <input matInput placeholder="Enter here">
             </mat-form-field>
            </p>
            <p>
             <mat-form-field appearance="legacy">
               <mat-label> STOCK QUANTITY</mat-label>
               <input matInput placeholder="Enter here">
             </mat-form-field>
            </p>
            <p>
             <mat-form-field appearance="legacy">
               <mat-label> PURCHASE PRICE</mat-label>
               <input matInput placeholder="Enter here">
             </mat-form-field>
            </p>
           
            <p>
             <mat-form-field appearance="legacy">
               <mat-label> STOCK VALUE</mat-label>
               <input matInput placeholder="Enter here">
             </mat-form-field>
            </p>
           
                      </mat-card-content>    

            
   </mat-card>  
     </mat-grid-tile>
     <mat-grid-tile [colspan]="1" [rowspan]="1">
         <mat-card class="mat-elevation-z8 card-prop"> 
         <mat-card-content> 
        
           <div class="mat-elevation-z8">
             <table mat-table [dataSource1]="dataSource1">
              
              <ng-container matColumnDef="position">
               <th mat-header-cell *matHeaderCellDef> No. </th>
               <td mat-cell *matCellDef="let element"> {{element.position}} </td>
             </ng-container>
          
          
          
             <ng-container matColumnDef="type">
               <th mat-header-cell *matHeaderCellDef> TYPE </th>
               <td mat-cell *matCellDef="let element"> {{element.type}} </td>
             </ng-container>
          
             <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef> NUMBER </th>
              <td mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
             <th mat-header-cell *matHeaderCellDef> DATE </th>
             <td mat-cell *matCellDef="let element"> {{element.date}} </td>
           </ng-container>
           

           <ng-container matColumnDef="quantity">
             <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
             <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
           </ng-container>

           <ng-container matColumnDef="price">
             <th mat-header-cell *matHeaderCellDef> PRICE/UNIT </th>
             <td mat-cell *matCellDef="let element"> {{element.price}} </td>
           </ng-container>
         

            <ng-container matColumnDef="status">
             <th mat-header-cell *matHeaderCellDef> STATUS </th>
             <td mat-cell *matCellDef="let element"> {{element.status}} </td>
           </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>

                  </mat-card-content>    
         </mat-card>  
     </mat-grid-tile>
 </mat-grid-list>
</div>
