<p>
 <mat-form-field appearance="legacy">
   <mat-label>Name</mat-label>
   <input matInput placeholder="Enter Name">
 </mat-form-field>
</p>

<p>
 <mat-form-field appearance="fill">
  <mat-label>Party Type</mat-label>
  <mat-select>
    <mat-option *ngFor="let Party of PartyType" [value]="Party.value">
      {{Party.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</p>

<p>
 <mat-form-field appearance="legacy">
  <mat-label>GST No</mat-label>
  <input matInput placeholder="Enter here">
</mat-form-field>
</p>
<p>
 <mat-form-field appearance="fill">
  <mat-label>State</mat-label>
  <mat-select>
    <mat-option *ngFor="let State of States" [value]="State.value">
      {{State.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</p>
<p>
 <mat-form-field appearance="fill">
  <mat-label>Phone number</mat-label>
  <example-tel-input required></example-tel-input>
  <mat-icon matSuffix>phone</mat-icon>
  <mat-hint>Include area code</mat-hint>
</mat-form-field>

</p>
<p>
 <mat-form-field appearance="legacy">
  <mat-label>Email</mat-label>
  <input matInput placeholder="Enter here">
   
  <mat-icon matSuffix>email</mat-icon>

 </mat-form-field>
</p>

 <p>
  <mat-form-field appearance="legacy">
   <mat-label>Current Balance</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
 </p>

 <p>
  <mat-form-field appearance="legacy">
   <mat-label>As of</mat-label>
   <mat-icon matSuffix>card_travel</mat-icon>

   <input matInput placeholder="">
 </mat-form-field>
 </p>
 
   <section>
    <div class="example-button-row">
      <button mat-button color="green">Save</button>
      <button mat-button color="green">Save & New</button>
    </div>
   </section>
 