
<button mat-icon-button [matMenuTriggerFor]="menu" 
aria-label="Dashboard">
  <mat-icon>view_headline</mat-icon>
</button>
    

   <mat-menu #menu="matMenu">

   
  <button mat-menu-item>>
    <mat-icon>home</mat-icon> 
    <span>Home</span>       
  </button>
  <button mat-menu-item [matMenuTriggerFor]="Parties" >
 <mat-icon>perm_identity</mat-icon>
 <span>Parties</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="Item">
    <mat-icon>
    </mat-icon>
    <span>Item</span>

  </button> 

  <button mat-menu-item [matMenuTriggerFor]="Sale">
    <mat-icon>assignment</mat-icon>
    <span>Sale</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="Purchase">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>Purchase</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="Expenses" (click)="goToPage('expenses')">
    <mat-icon>card_travel</mat-icon>
    <span>Expenses</span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="Cash">
    <mat-icon>account_balance</mat-icon>
   <span>Cash & Bank</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="Report" (click)="goToPage('report')">
    <mat-icon>leaderboard</mat-icon>
    <span>Report</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="Backup">
    <mat-icon>history</mat-icon>
    <span>Backup/Restore</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="Utilities" (click)="goToPage('utilities')">
    <mat-icon>build</mat-icon>
    <span>Utilities</span>
  </button>

</mat-menu>


<mat-menu #Parties="matMenu">
  <button mat-menu-item (click)="goToPage('addparty')">Add Party</button>
</mat-menu>
 
<mat-menu #Item="matMenu">
  <button mat-menu-item (click)="goToPage('additem')">Add Item</button>
  <button mat-menu-item (click)="goToPage('viewitem')">View Item</button>
  <button mat-menu-item (click)="goToPage('listitem')">List Item</button>

</mat-menu>

<mat-menu #Sale="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('addsale')">Add Sale</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('editsale')">Edit Sale</button>

  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('saleinvoices')">Sale Invoices</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('estimation')">Estimation/Quatation</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('paymentin')">Payment In</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('saleorder')">Sale Order</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('deliverychallan')">Delivery Challan</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('salereturn')">Sale Return/Cr.Note</button>
</mat-menu>
<mat-menu #Purchase="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('purchasebills')">Purchase Bills</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('paymentout')">Payment Out</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('purchaseorder')">Purchase Order</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('purchasereturn')">purchase Return/Dr.Note</button>
</mat-menu>

<mat-menu #Cash="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('bankaccount')">Bank Account</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('cashinhand')">Cash In Hand</button>
  <button mat-menu-item [matMenuTriggerFor]="cheque">Cheque</button>
  <button mat-menu-item [matMenuTriggerFor]="loanaccount">Loan Account</button>
</mat-menu>
 
<mat-menu #Backup="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('backupcomputer')">Backup To Computer</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('backupdrive')">Backup To Drive</button>
  <button mat-menu-item [matMenuTriggerFor]="" (click)="goToPage('restorebackup')">Restore backup</button>

</mat-menu>