<p>
 <mat-form-field appearance="legacy">
   <mat-label> NAME</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>
<p>
 <mat-form-field appearance="legacy">
   <mat-label> GSt</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>
<p>
 <mat-form-field appearance="legacy">
   <mat-label> ADDRESS</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>

<p>
 <mat-form-field appearance="legacy">
   <mat-label> EMAIL</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>


<p>
 <mat-form-field appearance="fill">
  <mat-label>DATE</mat-label>
<!-- #docregion toggle -->
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
<!-- #enddocregion toggle -->
</mat-form-field>

</p>

<p>
              <mat-form-field appearance="legacy">
                <mat-label> NAME</mat-label>
                <input matInput placeholder="Enter here">
              </mat-form-field>
             </p>
             <p>
              <mat-form-field appearance="legacy">
                <mat-label> GSt</mat-label>
                <input matInput placeholder="Enter here">
              </mat-form-field>
             </p>
             <p>
              <mat-form-field appearance="legacy">
                <mat-label> ADDRESS</mat-label>
                <input matInput placeholder="Enter here">
              </mat-form-field>
             </p>
            
             <p>
              <mat-form-field appearance="legacy">
                <mat-label> EMAIL</mat-label>
                <input matInput placeholder="Enter here">
              </mat-form-field>
             </p>
            
            
             <p>
              <mat-form-field appearance="fill">
               <mat-label>DATE</mat-label>
             <!-- #docregion toggle -->
               <input matInput [matDatepicker]="picker">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             <!-- #enddocregion toggle -->
             </mat-form-field>
             
             </p>


             <section>
              <div class="example-button-row">
                <button mat-button color="green">Save</button>
              </div>
             </section>
            