<h4>Add Item</h4>
<p>
 <mat-form-field appearance="legacy">
   <mat-label> ITEM NAME</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>
<p>
 <mat-form-field appearance="legacy">
   <mat-label>ITEM HSN/SAC</mat-label>
   <input matInput placeholder="Enter here">
   <mat-icon matSuffix>search</mat-icon>

 </mat-form-field>
</p>
<p>
 <mat-form-field appearance="legacy">
   <mat-label> SALE PRICE</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>

<p>
 <mat-form-field appearance="fill">
  <mat-label>Tax Type</mat-label>
  <mat-select>
    <mat-option *ngFor="let Tax of TaxType" [value]="Tax.value">
      {{Tax.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</p>

<p>
 <mat-form-field appearance="legacy">
   <mat-label> PURCHASE PRICE</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>

<p>
 <mat-form-field appearance="fill">
  <mat-label>Tax Type</mat-label>
  <mat-select>
    <mat-option *ngFor="let Tax of TaxType" [value]="Tax.value">
      {{Tax.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</p>

<p>
 <mat-form-field appearance="fill">
  <mat-label>SELECT TAX RATE</mat-label>
  <mat-select>
    <mat-option *ngFor="let Taxes  of Taxrate" [value]="Taxes.value">
      {{Taxes.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</p>

<p>
 <mat-form-field appearance="legacy">
   <mat-label> OPEN QUANTITY</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>

<p>
 <mat-form-field appearance="legacy">
   <mat-label> AT PRICE</mat-label>
   <input matInput placeholder="Enter here">
 </mat-form-field>
</p>

<p>
 <mat-form-field appearance="fill">
  <mat-label>DATE</mat-label>
<!-- #docregion toggle -->
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
<!-- #enddocregion toggle -->
</mat-form-field>

</p>

<p>
  <mat-form-field appearance="legacy">
    <mat-label> MINIMUM STACK</mat-label>
    <input matInput placeholder="Enter here">
  </mat-form-field>
 </p>
 
 <p>
  <mat-form-field appearance="legacy">
    <mat-label>ITEM LOCATION</mat-label>
    <input matInput placeholder="Enter here">
  </mat-form-field>
 </p>
 
 <p>


  
 </p> 


 <section>
  <div class="example-button-row">
    <button mat-button color="green">Save</button>
    <button mat-button color="green">Save & New</button>
  </div>
 </section>


